<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/Stylesheets/Layout.css">
    <link rel="stylesheet" href="/Stylesheets/Main.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='/Javascript/Global.js'></script>
    <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0"
        crossorigin="anonymous"></script>
    <title>Winegoofs</title>
</head>

<body>
    <div id="wrapper" class="animate">
        <!-- Navbar -->
        <nav class="navbar header-top fixed-top navbar-expand-lg navbar-dark bg-dark">
            <span class="navbar-toggler-icon leftmenutrigger"></span>
            <a class="navbar-brand justify-content-center" href="#">Winegoofs</a>
            <span class="navbar-text">
                Good wine pleasure for everyone, every occasion, everytime!
            </span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav animate side-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-wine-bottle"></i>Kategorier<i class="fas fa-wine-bottle shortmenu animate"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Vitt</a>
                            <a class="dropdown-item" href="#">Rött</a>
                            <a class="dropdown-item" href="#">Mousserande</a>
                            <a class="dropdown-item" href="#">Rosé</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Alla kategorier</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-star"></i>Favoriter<i class="fas fa-star shortmenu animate"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-shopping-cart"></i>Kundvagn<i class="fas fa-shopping-cart shortmenu animate"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- /Navbar -->

    </div>

        <!-- Popup shoppingcart -->
    <button id="open-cart-button" class="open-button"><i class="fa fa-shopping-cart"></i></button>

    <div class="form-cart" id="cart">
        <form class="form-container">
            <h4>Kundvagn
                <span class="price" style="color:black">
                    <i class="fa fa-shopping-cart"></i>
                    <b><cartItemCount></cartItemCount></b>
                </span>
                <p><itemsInCart></itemsInCart></p>
            </h4>
            <table id="cart-item-table">
                <tr>
                    <th scope="col">Vin</th>
                    <th scope="col">Pris</th>
                </tr>
            </table>
            <p>Totalt <span class="price" style="color:black"><b><cost></cost></b></span></p>
            <button type="submit" class="btn">Betala</button>
            <button type="button" id="close-cart-button" class="btn cancel">Stäng</button>
        </form>
    </div>
        <!-- /Popup shoppingcart -->

        <!-- Body Content -->
        <div class="container-fluid">
            <div class="container d-flex flex-wrap justify-content-around" id="wine-container">

            </div>
        </div>
        <!-- /Body Content -->
</body>

</html>